canvas {
  
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}
p {
  color: #00cc00;
}

h1 {
   color: white;
}
@font-face{
 font-family:'borg-font';
 src: url('https://github.com/Ceesiebird/ceesiebird.github.io/blob/master/Borg.ttf');
}